p {
  text-align: center;
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
  }
  
  .Model {
    font-size: 40px;
    font-weight: bold;
  }
  
  .span-touchless {
    text-decoration: underline;
  }